<footer class="footer-area footer-bg pt-100 pb-70">
    <div class="container">
        <div class="footer-midal pt-45 pb-70">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                       
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        
                        <ul class="footer-list">
                            <li><a href="#">About the Company</a></li>
                            <li><a href="#">For Customers</a></li>
                            <li><a href="#">SEO Blog & News</a></li>
                            <li><a href="#">Careers & Reviews</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                      
                        <ul class="footer-list">
                            <li><a href="#">About the Company</a></li>
                            <li><a href="#">International SEO</a></li>
                            <li><a href="#">National SEO</a></li>
                            <li><a href="#">Careers & Reviews</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h3>Contact</h3>
                        <ul class="footer-list">
                            <li>874 E Pioneer Road Draper, UT 84020</li>
                            <li>Email: <a href="mailto:info@scalar.io">info@scalar.io</a></li>
                            <li>Phone: <a href="tel:+18013619384">(801) 361-9384</a></li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</footer>
